{% extends 'base.html' %}

{% block nav %}
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">হোম</a>/
            <a class="navbar-brand" href="javascript:;">লেখাপড়া</a>
          </div>
{% endblock nav %}

{% block body %}
<div class="content container mt-3">
          <div class="col-md-12">
            <div class="card shadow-2-strong">
              <div class="card-header card-header-success shadow-1-strong">
                <div class="row">

                    <div class="justify-content-center text-center">
                        <span class="h5 lead" id="day">আমার বাংলা বই</span>

                    </div>
                </div>
              </div>

           <div class="card-body header">
                <div class="row text-center container-fluid">

                     <div class="card rounded col-md-3 mb-0  ">
                      <a href="{% url 'content' %}"> <img
                        src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"
                        class="img-fluid rounded m-0 p-0"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">
                          পাঠ ১ঃ আমার পরিচয়
                        </p>
                      </div>
                          </a>
                </div>
                  <div class="card rounded col-md-3">
                      <img
                        src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"
                        class="img-fluid rounded m-0 p-0"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">
                          পাঠ ১ঃ আমার পরিচয়
                        </p>
                      </div>
                </div>
                  <div class="card rounded col-md-3">
                      <img
                        src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"
                        class="img-fluid rounded m-0 p-0"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">
                          পাঠ ১ঃ আমার পরিচয়
                        </p>
                      </div>
                </div>
                  <div class="card rounded col-md-3">
                      <img
                        src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"
                        class="img-fluid rounded m-0 p-0"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">
                          পাঠ ১ঃ আমার পরিচয়
                        </p>
                      </div>
                </div>

                  <div class="card rounded col-md-3">
                      <img
                        src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"
                        class="img-fluid rounded m-0 p-0"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">
                          পাঠ ১ঃ আমার পরিচয়
                        </p>
                      </div>
                </div>
                  <div class="card rounded col-md-3">
                      <img
                        src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"
                        class="img-fluid rounded m-0 p-0"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">
                          পাঠ ১ঃ আমার পরিচয়
                        </p>
                      </div>
                </div>
                  <div class="card rounded col-md-3">
                      <img
                        src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"
                        class="img-fluid rounded m-0 p-0"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">
                          পাঠ ১ঃ আমার পরিচয়
                        </p>
                      </div>
                </div>

                  <div class="card rounded col-md-3">
                      <img
                        src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"
                        class="img-fluid rounded m-0 p-0"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">
                          পাঠ ১ঃ আমার পরিচয়
                        </p>
                      </div>
                </div>
                  <div class="card rounded col-md-3 mb-0  ">
                      <img
                        src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"
                        class="img-fluid rounded m-0 p-0"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">
                          পাঠ ১ঃ আমার পরিচয়
                        </p>
                      </div>
                </div>
                  <div class="card rounded col-md-3 mb-0  ">
                      <img
                        src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"
                        class="img-fluid rounded mb-0  "
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">
                          পাঠ ১ঃ আমার পরিচয়
                        </p>
                      </div>
                </div>

                  <div class="card rounded col-md-3 mb-0  ">
                      <a href="{% url 'content' %}"> <img
                        src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"
                        class="img-fluid rounded m-0 p-0"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">
                          পাঠ ১ঃ আমার পরিচয়
                        </p>
                      </div>
                          </a>
                </div>
                  <div class="card rounded col-md-3 mb-0  ">
                      <img
                        src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"
                        class="img-fluid rounded m-0 p-0"
                        alt="..."
                      />
                      <div class="card-body">
                        <p class="card-text">
                          পাঠ ১ঃ আমার পরিচয়
                        </p>
                      </div>
                </div>


                </div>


              </div>

            </div>


            </div>
          </div>


      </div>




{% endblock body %}