{% extends 'base.html' %}
{% load static %}
{% block nav %}
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="{% url 'content_list' %}">পিছনে</a>/

          </div>
{% endblock nav %}
 {% block body %}



        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">

       <video volume="10" width="1280" height="720"  loop playsinline autoplay controls >
      <source src="http://192.168.1.24:8000/media/1.mp4" type="video/mp4" />
         </video>
        </div>

{% endblock body %}