{% extends 'base.html' %}

{% block nav %}
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="{% url 'home' %}">হোম</a>/
            <a class="navbar-brand" href="{% url 'notice_list' %}">নোটিশ</a>
          </div>
{% endblock nav %}

{% block body %}
<div class="content container mt-3">
          <div class="col-md-12">
            <div class="card shadow-2-strong">
              <div class="card-header card-header-danger shadow-1-strong">
                <div class="row">

                    <div class="justify-content-center text-center text-dark">
                        <span class="h5 lead" id="day">বিষয়ঃ  {{object.title }}</span>

                    </div>
                </div>
              </div>

           <div class="card-body header">
                <div class="row text-center container-fluid">

                     {{object.body|safe}}


                </div>


              </div>

            </div>


            </div>
          </div>


      </div>




{% endblock body %}